body{
    background-color: gainsboro;
}
.safari{
    color: black;
    font-size: 40px;
    text-align: center;
}
.one{
    background-color: cornflowerblue;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: unset;
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
}
.two{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    color: blue;
}
.register{
    margin: auto;
    width: 40%;
}
.three{
   width: 100%;
    height: 30px;
    border-radius: 8px;
    border: unset;
    padding-left: 10px;
    color: black;
    font-weight: bold;
}
.submit_btn{
    width: 50%;
    margin-left: 25%; /*brings submit button to the center*/
    margin-right: 25%; /*brings submit button to the center*/
    height: 40px;
    background-color: fuchsia;
    border-radius:8px ;
    border: unset; /*removes the border radius shadow*/
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}
.login_form{
    margin: auto;
    width: 40%;
}
.four{
    text-align: center;
    text-decoration:underline;
    color: blue;
}
.five{
    width: 100%;
    border-radius: 10px;
    border: unset;
    padding-left: 10px;
    height: 30px;
    font-weight: bold;
}
.login_btn{
    width: 50%;
    margin-left: 25%; /*brings submit button to the center*/
    margin-right: 25%; /*brings submit button to the center*/
    height: 40px;
    background-color: fuchsia;
    border-radius:8px ;
    border: unset; /*removes the border radius shadow*/
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}
/*.course{*/
/*    text-align: center;*/
/*}*/
.paragraph{
    text-align: center;
}
* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}